/node_modules
/public/hot
/public/storage
/public/images
/public/upload
/public/uploads
/public/uploaded_files
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
/config/livewire.php
__MACOSX
composer.lock
package-lock.json
